venv
__pycache__/
*.pyc
errors.log
low_stock_report.txt


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytestdebug.log